.about {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  &-info {
    display: flex;
    gap: 45px;
    margin-bottom: 40px;
  }
  &__title {
    @include titel-style;
    margin-right: 50px;
  }
  &__discription {
    max-width: 400px;
    color: rgb(20, 20, 20);
    @include text-styles(var(--colorText), 300);
    max-width: 100%;
  }
  &__banner {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 850px) {
  .about {
    flex-direction: column;
    &__title {
      margin-bottom: 40px;
    }
  }
}
